.container {
    max-width: 1280px;
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;  
}

.sub-titel {
    color: var(--secondary-color);
    padding-bottom: 3%;
}

.button {
    display: block;
    border-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
    margin-top: 5%;
}

.button:hover {
    background-color: var(--secondary-color);
}

.ag-theme-material {
    --ag-header-background-color: var(--secondary-color-transtarent);
}
