.container {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;  
}

.titel {
    color: var(--primary-color);
    padding-bottom: 5%;
}

.sub-titel {
    color: var(--secondary-color);
}

.button {
    border-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
    margin-top: 5%;
}

.button:hover {
    background-color: var(--secondary-color);
}