/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '@ag-grid-community/styles/ag-grid.css';
@import '@ag-grid-community/styles/ag-theme-material.css';

:root {
    --primary-color: #1e6075;
    --secondary-color: #11ABDc;
    --backround-color: #e3e7e9;

    --secondary-color-transtarent: #11addc36;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
